<div id="questions" class="md:grid grid-cols-4 p-4 gap-4">
  <div class="col-span-3">
    <div class="w-full bg-base-100 p-4 rounded">
      <%= render @questions %>
    </div>
  </div>

  <div>
    <%= link_to("質問する", new_question_path, class: "btn btn-primary w-full") %>
  </div>
</div>
