<% if alert %>
  <div class="p-4">
    <div class="alert alert-error max-w-4xl shadow-lg">
      <div class="mr-auto">
        <i class="fa-solid fa-circle-exclamation mr-1"></i>
        <span><%= alert %></span>
      </div>
    </div>
  </div>
<% end %>
