<div class="navbar bg-base-100 ">
  <div class="flex-1">
    <%= link_to("StudShade", root_path, class: "btn btn-ghost normal-case text-xl") %>
  </div>
  <div class="flex-none gap-2">
    <% if user_signed_in? %>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <%= image_tag("https://pbs.twimg.com/profile_images/1639996872071974913/PPhYEW-B_400x400.jpg") %>
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li>
            <%= link_to("Logout", destroy_user_session_path, data: { "turbo-method": :delete }) %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to("Login", new_user_session_path, class: "btn btn-primary btn-sm px-4") %>
    <% end %>
  </div>
</div>
