<% if notice %>
  <div class="p-4">
    <div class="alert alert-success shadow-lg max-w-4xl">
      <div class="mr-auto">
        <i class="fa-solid fa-circle-exclamation mr-1"></i>
        <span><%= notice %></span>
      </div>
    </div>
  </div>
<% end %>
